body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

input,
button {
    font-size: 16px;
}

input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #1665D8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0A3E91;
}

button:active {
    background-color: #0A3E91;
    transform: translateY(1px);
}
